<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ant.poy">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- 用户权限设置 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS"></uses-permission>

    <!--网络权限-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <!--读取sd卡-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".AncientPoetryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--欢迎页-->
        <activity
            android:name=".ui.WelcomeGuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />

        <!-- 声明SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"/>
        <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

        <!--MainActivity-->
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />

        <!--搜索界面-->
        <activity
            android:name=".ui.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <!--我的-->
        <activity
            android:name=".ui.MyActivity"
            android:screenOrientation="portrait" />

        <!--详细信息-->
        <activity
            android:name=".ui.PoetryDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.DeclarationActivity"
            android:screenOrientation="portrait" />

        <!--作者详细简介-->
        <activity
            android:name=".ui.AuthorBriefActivity"
            android:screenOrientation="portrait" />
        <!-- 广点通 广告-->

       <!-- <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"/>
        &lt;!&ndash; 请开发者注意字母的大小写，ADActivity，而不是AdActivity &ndash;&gt;
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>-->

        <activity android:name=".ui.AncientBookDetailActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.AncientBookDetailContentActivity"
            android:screenOrientation="portrait"/>


    </application>

</manifest>